body {
    background: gray;
    overflow-x: hidden;
}

.main-container {
    display: flex;
    width: 970px;
    background: #ffffff;
    margin-left: auto;
    margin-right: auto;
}

.inner-container {
    padding: 0px 10px 10px 10px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.upper-story-block {
    width: 70%;
    background: #484848;
    height: 400px;
    position: relative;
}

.ad-block {
    width: 29%;
    background: red;
    height: 400px;
}

.row-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.lower-story-block {
    padding: 20px 0px 20px 0px;
    width: 100%;
    height: 200px;
    border-bottom: 1px solid gray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.firstblock {
    margin-top: -10px;
}

.mid-story-block {
    padding: 20px 0px 20px 0px;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.end-story-block {
    padding: 20px 0px 20px 0px;
    width: 100%;
    height: 200px;
    border-top: 1px solid gray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.image-block {
    width: 300px;
    height: 100%;
    background-color: #484848;
}

.mid-ad-block {
    width: 100%;
    background: red;
    height: 200px;
    margin: 5px 0px 5px 0px;
}

.end-ad-block {
    width: 19%;
    background: red;
    margin-top: 15px;
    height: 360px;
}

.text-block {
    width: 69%;
    padding-left: 15px;
    padding-right: 50px;
}

.mid-text-block {
    width: 62%;
    padding-left: 15px;
    padding-right: 20px;
}

.image-text-block {
    width: 50%;
    height: 50%;
    position: absolute;
    top: 210px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.image-text-block .news-title {
    color: white;
}

.image-text-block .news-description {
    color: white;
    max-height: 68px;
}

.news-title {
    font-size: 30px;
    font-weight: 600;
    line-height: 1.4;
    color: #0060aa;
    width: fit-content;
}

.news-description {
    padding-top: 10px;
    font-size: 23px;
    line-height: 1.3;
    color: #7b7a7a;
    overflow: hidden;
    font-weight: 500;
    text-overflow: clip;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-align: justify;
    height: fit-content;
}

img {
    width: 100%;
    height: 100%;
}

.mid-container {
    width: 80%;
    height: auto;
}

.side-ad-block {
    width: 150px;
    height: 550px;
    background: peru;
}

.upper-container {
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    background: white;
}

.read-more {
    width: fit-content;
    height: fit-content;
    padding: 10px 20px 10px 20px;
    font-weight: bold;
    background: #A8A8A8;
    color: #484848;
    position: absolute;
    top: 130px;
    border-radius: 5px;
}