body {
    background: gray;
    overflow-x: hidden;
}


/* ================================= common ================================= */

@font-face {
    font-family: 'sakalfont';
    font-display: swap;
    src: url(https://sankey-esakal.s3.ap-south-1.amazonaws.com/esakal-new-design/font/EkMukta-Regular.ttf) format("truetype"), url(https://sankey-esakal.s3.ap-south-1.amazonaws.com/esakal-new-design/font/EkMukta-Regular.eot) format("eot"), url(https://sankey-esakal.s3.ap-south-1.amazonaws.com/esakal-new-design/font/EkMukta-Regular.svg) format("svg");
}

@font-face {
    font-family: 'sakalfontbold';
    font-display: swap;
    src: url(https://sankey-esakal.s3.ap-south-1.amazonaws.com/esakal-new-design/font/EkMukta-Bold.ttf) format("truetype");
}

* {
    font-family: sakalfont;
}

.main-container {
    display: flex;
    width: 970px;
    background: #ffffff;
    margin-left: auto;
    margin-right: auto;
}

.inner-container {
    padding: 0px 10px 10px 10px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.header-footer-block {
    margin-left: auto;
    margin-right: auto;
    width: 1270px;
    height: 50px;
    background: #0060aa;
    font-weight: bold;
    text-align: center;
    padding: 10px 20px 20px 20px;
    font-size: 20px;
}


/* ================================= News Story Section ================================= */

.upper-story-block {
    width: 70%;
    background: #484848;
    height: 400px;
    position: relative;
}

.ad-block {
    width: 29%;
    background: red;
    height: 400px;
    background-image: url("https://gkalpesh.github.io/sakalpages/images/Screenshot (52).png");
}

.row-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mid-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.lower-story-block {
    padding: 20px 0px 20px 0px;
    width: 100%;
    height: 200px;
    border-bottom: 1px solid gray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.firstblock {
    margin-top: -10px;
}

.mid-story-block {
    padding: 20px 0px 20px 0px;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.end-story-block {
    padding: 20px 0px 20px 0px;
    width: 100%;
    height: 200px;
    border-top: 1px solid gray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.image-block {
    width: 300px;
    height: 100%;
    background-color: #484848;
}

.mid-ad-block {
    width: 100%;
    background: red;
    height: 100px;
    margin: 5px 0px 5px 0px;
    background-image: url("https://gkalpesh.github.io/sakalpages/images/Screenshot (52).png");
}

.end-ad-block {
    width: 19%;
    background: red;
    margin-top: 15px;
    height: 360px;
    background-image: url("https://gkalpesh.github.io/sakalpages/images/Screenshot (52).png");
}

.text-block {
    width: 69%;
    padding-left: 15px;
    padding-right: 50px;
}

.mid-text-block {
    width: 62%;
    padding-left: 15px;
    padding-right: 20px;
}

.image-text-block {
    width: 50%;
    height: 50%;
    position: absolute;
    top: 210px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.image-text-block .news-title {
    color: white;
}

.image-text-block .news-description {
    color: white;
    max-height: 66px;
}

.news-title {
    font-size: 30px;
    font-weight: 600;
    line-height: 1.4;
    color: #0060aa;
    width: fit-content;
}

.news-description {
    padding: 10px 10px 10px 0px;
    font-size: 23px;
    line-height: 1.3;
    color: #7b7a7a;
    overflow: hidden;
    font-weight: 500;
    text-overflow: clip;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-align: justify;
    max-height: 95px;
}

img {
    width: 100%;
    height: 100%;
}

.mid-container {
    width: 80%;
    height: auto;
}

.side-ad-block {
    width: 150px;
    height: 550px;
    background: peru;
    background-image: url("https://gkalpesh.github.io/sakalpages/images/Screenshot (52).png");
}

.upper-container {
    display: flex;
    flex-direction: row;
    width: 1270px;
    margin-left: auto;
    margin-right: auto;
    background: white;
}

.read-more {
    width: fit-content;
    height: fit-content;
    padding: 10px 20px 10px 20px;
    font-weight: bold;
    background: #A8A8A8;
    color: #484848;
    position: absolute;
    top: 130px;
    border-radius: 5px;
}

.teaser-wrapper {
    width: 100%;
    height: 50%;
    padding: 10px;
    margin: 5px 0px 10px 0px;
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.2);
}

.teaser-wrapper .image-block {
    width: 100%;
    height: 100%;
    background-color: #484848;
}

.textwrapper {
    width: 100%;
}


/* ================================= Video Story Section ================================= */

.video-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0px 10px 0px;
    height: 200px;
    width: 100%;
}

.news-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 0px 10px 0px;
    height: 200px;
    width: 100%;
}

.video-block {
    width: 300px;
    height: 100%;
    background-color: #484848;
}

.news-block {
    width: 300px;
    height: 90%;
    background-color: white;
    text-align: center;
    padding: 10px 30px 30px 30px;
    position: relative;
}

.news-title1 {
    font-size: 25px;
    color: black;
    text-align: center;
    font-weight: 400;
    width: 100%;
}

.news-block .news-description {
    font-size: 18px;
    color: black;
    max-height: 50px;
    text-align: center;
}

.view {
    width: fit-content;
    height: fit-content;
    padding: 10px 30px 10px 30px;
    font-weight: bold;
    background: black;
    color: white;
    position: absolute;
    left: 100px;
    top: 110px;
    border-radius: 5px;
}

.video-section-ad-block {
    width: 100%;
    background: red;
    height: 150px;
    margin: -20px 0px 10px 0px;
    background-image: url("https://gkalpesh.github.io/sakalpages/images/Screenshot (52).png");
}

.video-text-block {
    width: 50%;
    height: 50%;
    position: absolute;
    top: 280px;
    color: white;
    padding-left: 10px;
    padding-right: 20px;
}

.video-text-block .news-title {
    color: white;
    font-size: 30px;
}

.video-text-block .news-description {
    color: white;
    max-height: 66px;
}


/* ================================= Media Quries ================================= */

@media (max-width: 768px) {
    .upper-container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        height: fit-content;
    }
    .main-container {
        width: 100%;
        height: fit-content;
    }
    .inner-container {
        padding: 0px 10px 10px 10px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: fit-content;
    }
    .header-footer-block {
        width: 100%;
    }
    .side-ad-block {
        display: none;
    }
    .news-title {
        font-size: 20px !important;
        font-weight: 600;
        -webkit-line-clamp: 2;
        max-height: 46px;
        line-height: 1.5;
    }
    .news-description {
        font-size: 16px !important;
        -webkit-line-clamp: 4 !important;
        max-height: 70px !important;
    }
    .row-1 div:nth-of-type(1) {
        flex-grow: 2;
    }
    .ad-block {
        display: none;
    }
    .upper-story-block {
        width: 100%;
    }
    .lower-story-block {
        max-width: 100%;
        flex-flow: wrap;
        height: 350px;
        margin: 10px 0px 10px 0px;
        box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.2);
    }
    .mid-story-block {
        max-width: 100%;
        flex-flow: wrap;
        height: 350px;
        margin: 10px 0px 10px 0px;
        box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.2);
    }
    .end-story-block {
        max-width: 100%;
        flex-flow: wrap;
        height: 350px;
        margin: 10px 0px 10px 0px;
        box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.2);
    }
    .image-block {
        margin-top: -20px;
        height: 60%;
        width: 100%;
    }
    .text-block {
        width: 100%;
        height: 40%;
        padding: -10px 50px 0px 15px;
    }
    .mid-text-block {
        width: 100%;
        height: 40%;
        padding: -10px 50px 0px 15px;
    }
    .mid-ad-block {
        width: 100%;
        height: 100px;
        margin: 10px 0px 10px 0px;
        background-image: url("https://gkalpesh.github.io/sakalpages/images/Screenshot (52).png");
    }
    .mid-container {
        width: 100%;
        height: auto;
    }
    .mid-row {
        width: 100%;
    }
    .end-ad-block {
        display: none;
    }
}

.main-container {
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all ease .25s;
}


/* ================================== media queries to adjust container size ========================= */

@media (min-width: 1200px) {
    .main-container {
        max-width: 1100px;
        width: 100%;
        z-index: 2;
    }
    .global-nav-wrapper {
        width: 1100px;
        z-index: 2;
    }
}