body {
    background: #DCDCDC;
    overflow-x: hidden;
}


/* ================================= common ================================= */

@font-face {
    font-family: 'sakalfont';
    font-display: swap;
    src: url(https://sankey-esakal.s3.ap-south-1.amazonaws.com/esakal-new-design/font/EkMukta-Regular.ttf) format("truetype"), url(https://sankey-esakal.s3.ap-south-1.amazonaws.com/esakal-new-design/font/EkMukta-Regular.eot) format("eot"), url(https://sankey-esakal.s3.ap-south-1.amazonaws.com/esakal-new-design/font/EkMukta-Regular.svg) format("svg");
}

@font-face {
    font-family: 'sakalfontbold';
    font-display: swap;
    src: url(https://sankey-esakal.s3.ap-south-1.amazonaws.com/esakal-new-design/font/EkMukta-Bold.ttf) format("truetype");
}

* {
    font-family: sakalfont;
}

.main-container {
    display: flex;
    width: 970px;
    background: #ffffff;
    margin-left: auto;
    margin-right: auto;
}

.inner-container {
    padding: 0px 10px 10px 10px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.news-container {
    width: 1270px;
    background: white;
    margin-left: auto;
    margin-right: auto;
}

.upper-container {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    width: 1270px;
    background: white;
    margin-left: auto;
    margin-right: auto;
}

.header-footer-block {
    margin-left: auto;
    margin-right: auto;
    width: 1270px;
    height: 50px;
    background: #0060aa;
    font-weight: bold;
    text-align: center;
}


/* ================================= Aarti Section ================================= */

.upper-story-block {
    width: 70%;
    background: #484848;
    height: 400px;
    position: relative;
}

.upper-story-block img {
    width: 100%;
    height: 100%;
}

.ad-block {
    width: 29%;
    background: red;
    height: 400px;
    background-image: url("https://gkalpesh.github.io/sakalpages/images/Screenshot (52).png");
}

.side-ad-block {
    width: 150px;
    height: 550px;
    background: peru;
    background-image: url("https://gkalpesh.github.io/sakalpages/images/Screenshot (52).png");
}

.row-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.aarti-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 380px;
    width: 100%;
    margin-top: 10px;
}

.aarti-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.aarti-image-block {
    width: 100%;
    height: 50%;
    background-color: #484848;
}

.aarti-image-block img {
    width: 100%;
    height: 100%;
}

.aarti-news-block {
    width: 100%;
    height: 50%;
    text-align: center;
    padding: 10px 0px 10px 0px;
    position: relative;
}

.news-title1 {
    font-size: 25px;
    color: black;
    text-align: center;
    font-weight: 400;
    width: 100%;
}

.news-description {
    font-size: 23px;
    line-height: 1.3;
    color: #7b7a7a;
    overflow: hidden;
    font-weight: 500;
    text-overflow: clip;
    text-align: justify;
    max-height: 100px;
    width: 100%;
}

.view-holder {
    width: 100%;
    height: 70px;
    justify-content: center;
}

.view2 {
    background: black;
    color: white;
    padding: 5px 30px 0px 30px;
    font-weight: 500;
    font-size: 25px;
    border-radius: 30px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.aarti-video-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #828282;
    padding: 10px 120px 30px 120px;
}

.video-section2 {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.video-section-ad-block {
    margin: 0px 0px 0px 0px;
}

.video-section-title {
    width: 100%;
    height: fit-content;
    margin: 10px 0px 20px 0px;
    font-size: 30px;
    text-align: center;
}

.aarti-video-block {
    width: 100%;
    height: 200px;
    background: #484848;
}

.aarti-video-block img {
    width: 100%;
    height: 100%;
}

.aarti-video-block:nth-child(2) {
    margin: 0px 0px 0px 50px;
}

.aarti-block:nth-child(even) {
    margin: 0px 10px 0px 10px;
}

.aarti-news-block .news-title1 {
    font-size: 25px;
    color: black;
    text-align: center;
    font-weight: 400;
    width: 100%;
}

.aarti-news-block .news-description {
    font-size: 16px;
    color: black;
    max-height: 35px;
    padding: 5px 5px 5px 5px;
    text-align: center;
}

.video-section-ad-block {
    width: 100%;
    background: red;
    height: 100px;
    margin: 15px 0px 10px 0px;
    background-image: url("https://gkalpesh.github.io/sakalpages/images/Screenshot (52).png");
}


/* ================================= Media Quries ================================= */

@media (max-width: 768px) {
    .upper-container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        height: fit-content;
    }
    .main-container {
        width: 100%;
        height: fit-content;
    }
    .inner-container {
        padding: 0px 10px 10px 10px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: fit-content;
    }
    .header-footer-block {
        width: 100%;
    }
    .side-ad-block {
        display: none;
    }
    .news-description {
        font-size: 16px !important;
        -webkit-line-clamp: 4 !important;
        max-height: 35px !important;
    }
    .row-1 div:nth-of-type(1) {
        flex-grow: 2;
    }
    .ad-block {
        display: none;
    }
    .upper-story-block {
        width: 100%;
        height: 320px;
    }
    .video-section-ad-block {
        margin: 0px 0px 0px 0px;
    }
    .view-holder .view {
        margin-top: -5px;
    }
    .aarti-news-block .view {
        padding: -5px -5px -5px -5px;
        margin-top: 15px;
    }
    .aarti-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 380px;
        width: 100%;
        padding: 10px 0px 10px 0px;
    }
    .aarti-video-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: #828282;
        padding: 10px 10px 10px 10px;
    }
    .video-section2 {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .aarti-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: fit-content;
        width: 100%;
    }
    .news-container {
        width: 100%;
        height: fit-content;
    }
    .aarti-video-block:nth-child(2) {
        margin: 0px 0px 0px 0px;
    }
    .aarti-video-block img {
        width: 100%;
        height: 150px;
    }
    .video-section-title {
        width: 100%;
    }
    .aarti-video-block {
        width: 100%;
        height: 200px;
        background: gray;
    }
    .aarti-block:nth-child(even) {
        margin: 0px -10px 0px 0px;
    }
}


/* ================================== media queries to adjust container size ========================= */