    body {
        background: gray;
        margin: 0;
    }
    
    .main-container {
        width: 100%;
        background: white;
    }
    
    .inner-container {
        margin-left: auto;
        margin-right: auto;
        width: 94%;
    }
    
    .teaser-wrapper {
        width: 100%;
    }
    
    .teaser-wrapper img {
        width: 100%;
        height: auto;
    }
    
    .teaser-wrapper .textwrapper {
        padding: 16px;
        height: 200px;
    }
    
    .news-section-title {
        width: auto;
        overflow: auto;
        font-size: 12px;
        font-weight: bold;
        line-height: 1.1;
        color: #0060aa;
        padding: 5px;
        width: auto;
    }
    
    .news-title {
        /* font-family: sakalfontbold; */
        width: auto;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.5;
        color: black;
        overflow: hidden;
        text-overflow: clip;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        max-height: 41px;
        padding: 5px;
        /* height: 41px; */
        width: auto;
    }
    
    .news-description {
        width: auto;
        font-size: 14px;
        line-height: 1.3;
        color: #7b7a7a;
        overflow: hidden;
        font-weight: 500;
        text-overflow: clip;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        max-height: 72px;
        text-align: justify;
        padding: 5px;
        width: auto;
    }