body {
    overflow-x: hidden;
}


/* ++++++++++++++++++++++ End Footer Icons +++++++++++++++++++++++++++++++++ */


/* ================================= common ================================= */

@font-face {
    font-family: 'sakalfont';
    font-display: swap;
    src: url(https://sankey-esakal.s3.ap-south-1.amazonaws.com/esakal-new-design/font/EkMukta-Regular.ttf) format("truetype"), url(https://sankey-esakal.s3.ap-south-1.amazonaws.com/esakal-new-design/font/EkMukta-Regular.eot) format("eot"), url(https://sankey-esakal.s3.ap-south-1.amazonaws.com/esakal-new-design/font/EkMukta-Regular.svg) format("svg");
}

@font-face {
    font-family: 'sakalfontbold';
    font-display: swap;
    src: url(https://sankey-esakal.s3.ap-south-1.amazonaws.com/esakal-new-design/font/EkMukta-Bold.ttf) format("truetype");
}

@font-face {
    font-family: 'gothamFont';
    font-display: swap;
    /* src: url(https://sankey-esakal.s3.ap-south-1.amazonaws.com/esakal-new-design/font/Gotham-Light.ttf) format("truetype"), url(https://sankey-esakal.s3.ap-south-1.amazonaws.com/esakal-new-design/font/Gotham-Light.eot) format("eot"), url(https://sankey-esakal.s3.ap-south-1.amazonaws.com/esakal-new-design/font/Gotham-Light.svg) format("svg"); */
    src: url(https://sankey-esakal.s3.ap-south-1.amazonaws.com/esakal-new-design/font/GothamBook.ttf) format("truetype");
}

.english-font {
    font-family: gothamFont;
}

* {
    font-family: sakalfont;
}

.section-full-width {
    width: 100%;
    display: flex;
    justify-content: center;
}

.inner-section-width {
    width: 94% !important;
    display: flex;
    justify-content: center;
}

.news-title {
    /* font-family: sakalfontbold; */
    font-size: 16px;
    font-weight: 600;
    line-height: 1.3;
    color: black;
    overflow: hidden;
    text-overflow: clip;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 41px;
    /* height: 41px; */
}

.news-description {
    font-size: 14px;
    line-height: 1.3;
    color: #7b7a7a;
    overflow: hidden;
    font-weight: 500;
    text-overflow: clip;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-height: 72px;
    text-align: justify;
}

.section-title-desktop {
    font-weight: 600;
    font-size: 12px;
    color: black;
    position: relative;
    margin-bottom: 1rem;
    margin-top: 15px;
    font-family: gothamFont;
    top: 6px;
}

.section-title-desktop::before {
    padding-top: 5px;
    content: "";
    position: absolute;
    bottom: 27px;
    width: 130px;
    border-top: 6px solid black;
}

.image-div {
    height: 360px;
    background-image: url(https://theintercept.imgix.net/wp-uploads/sites/1/2020/04/GettyImages-1217449615-crop.jpg?auto=compress%2Cformat&q=90&fit=crop&w=1440&h=720);
    background-repeat: no-repeat;
    background-size: 100% 53%;
}

.spacing-left-overlap {
    width: 8%;
}

.right-overlap {
    flex: 1;
}

.news-box-container {
    width: 68%;
}

.news-box {
    height: 100px;
}

.news-box .card-img-top {
    flex: 1;
    justify-content: center;
    height: 90%;
}

.podcast .news-box .card-img-top {
    height: 180px;
}

.podcast .news-box {
    height: unset;
}

.photography {
    background-image: url(https://composeclick.com/wp-content/uploads/2018/05/nature-1-1024x637.jpg);
    background-repeat: no-repeat;
    background-size: 100% 55%;
    height: 360px;
}


/* ============================================================================= */


/* --------- start Nitesh ---------- */

.section-title {
    font-size: 22px;
    font-weight: 600;
    line-height: 1.4;
    color: #0060aa;
    width: fit-content;
}

.section-title:after {
    border-bottom: 3px solid #3F3D3D;
    content: '';
    display: block;
    width: 40%;
}

.news-section-title:after {
    /* border-bottom: 2px solid #3F3D3D; */
    content: '';
    display: block;
    width: 75%;
}

.news-footer {
    font-size: 12px;
    line-height: 1.2;
    color: #7b7a7a;
}

@media (max-width: 768px) {
    .section-title {
        display: none !important;
    }
    .news-title {
        font-size: 16px !important;
        font-weight: 600;
        -webkit-line-clamp: 2;
        max-height: 46px;
        line-height: 1.5;
    }
    .news-description {
        font-size: 14px !important;
        -webkit-line-clamp: 4 !important;
        max-height: 70px !important;
    }
    .news-section-title {
        width: fit-content;
        font-size: 11px;
        line-height: 1.1;
        color: #0060aa;
        font-weight: bold;
    }
    .news-footer {
        display: block !important;
        font-size: 10px;
        line-height: 1.2;
        color: #7b7a7a;
    }
}


/* --------- end Nitesh ---------- */


/* ========================================================================== */


/* --------- start Sanket ---------- */


/* ================================= main =================================  */

.footer-top ul li .fa {
    width: 15px;
}

.main-container {
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all ease .25s;
}

#main-container-id {
    background-color: white;
}

.inner-container {
    margin-left: auto;
    margin-right: auto;
    width: 94%;
}

.mobile-inner-container {
    margin-left: auto;
    margin-right: auto;
    width: 94% !important;
}

.section-title-mobile {
    font-family: gothamFont;
    font-weight: 600;
    font-size: 16px;
    color: white;
    margin-bottom: 1rem;
    /* margin-top: 10px; */
    background-color: #0060aa;
    width: 100%;
    padding: 0.5rem;
}

.section-title-mobile i {
    font-size: 20px;
}

.section-title-desktop {
    display: none;
}

@media (min-width: 768px) {
    .section-title-desktop {
        display: inline-block;
    }
    /* ====================== from 786 to 820 =================== */
    .our-services-div {
        width: 15%;
    }
    .photography {
        background-size: 100% 85%;
        width: 100%;
        height: 585px;
        /* border-bottom: 1px solid #d9d9d9; */
    }
    .photography .section-title-desktop::before {
        border-top: 6px solid white;
    }
    .right-full-div {
        flex: 1;
    }
    .news-box.col-md-4 {
        height: unset;
        flex: 0 0 30%;
    }
    .news-box-container {
        width: 100%;
    }
    .news-box .card-img-top {
        height: 150px;
    }
}


/* ================================== media queries to adjust container size ========================= */

@media (min-width: 1200px) {
    .main-container {
        max-width: 1100px;
        width: 100%;
        z-index: 2;
    }
    .global-nav-wrapper {
        width: 1100px;
        z-index: 2;
    }
}


/* --------- end Sanket ---------- */


/* =========== New ================= */

body {
    background: gray;
    margin: 0;
}

.main-container {
    width: 100%;
    background: white;
}

.inner-container {
    margin-left: auto;
    margin-right: auto;
    width: 94%;
}

.teaser-wrapper {
    width: 100%;
    height: fit-content;
}

.teaser-wrapper img {
    width: 100%;
    height: auto;
}

.teaser-wrapper .textwrapper {
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    height: fit-content;
}

.section-title-mobile {
    font-family: gothamFont;
    font-weight: 600;
    font-size: 15px;
    color: white;
    margin-bottom: 1rem;
    /* margin-top: 10px; */
    background-color: #0060aa;
    width: 100%;
    padding: 0.5rem;
}

.section-title-mobile a {
    color: white;
}

.right-overlap a {
    color: black;
}

.news-box-container a {
    color: black;
}